{% extends 'shareab/base.html' %}
{%load static%}
{% block content %}
    {% if user_profile.profile_image %}
        <img src="{{ user_profile.profile_image.url }}" alt="Profile Picture" width="100">
    {% else %}
        <img src="{% static 'profile_picture/default.jpg' %}" alt="Profile Picture" width="100">
    {% endif %}
<p>User Name: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Date Joined: {{ user.date_joined }}</p>
<p>Campus: {{ user_profile.campus }}</p>
<p>Contact: {{ user_profile.social_media_link }}</p>
<p>Number of Books added: {{user_books_count}}<p>


<a href="{% url 'edit_profile' %}">Edit Profile</a> |
<a href="{% url 'delete_account' %}">Delete Account</a>
{% endblock %}
